@page "/"
@using SharedLibrary.Components

<Button CssClass="aw-card">
    <Divider Style="@Style" />
</Button>

<Button CssClass="aw-card">
    <Button OnClick="ShowDialog">Open Modal</Button>
</Button>



<Divider Style="@Style" />

<ModalDialog @ref="_dialog" OnClose="ClosDialog">
    <BodyContent>
        <div>组件内容</div>
    </BodyContent>
</ModalDialog>

<label>
    <input type="checkbox" @bind="shouldRender" />
    Should Render?
</label>

<Divider Style="@Style" />

<Button Disabled=true>Disabled</Button>

<Button Disabled=false OnClick="async(arg) => {}">Enabled</Button>

<Divider Style="@Style" />

<Select Options="Options" @bind-Value="@SelectedValue">
    <OptionTemplate>
        <span>📌</span>
        <span>@context</span>
    </OptionTemplate>
</Select>

<div>
    选中项： @SelectedValue
</div>

<Divider Style="@Style" />

<Input @ref="_input" TValue="string"
Type="InputType.Text" 
@bind-Value="InputValue"
OnEnter="OnEnter"></Input>

@InputValue

<Divider Style="@Style" />

<Label Text="说明"></Label>

@code {
    private ModalDialog _dialog = new ModalDialog();

    private Input<string> _input = new Input<string>();

    private const string Style = "display: block; height: 30px; color:green;";

    private bool shouldRender = true;

    public string SelectedValue { get; set; } = string.Empty;

    public string InputValue { get; set; } = string.Empty;

    private HashSet<string> Options = new HashSet<string>()
    {
        "option 1",
        "option 2",
        "option 3",
        "option 4",
        "option 5"
    };

    // protected override bool ShouldRender() => shouldRender;

    private Task ShowDialog(MouseEventArgs args)
    {
        _dialog.SetVisible(true);
        return Task.CompletedTask;
    }

    private Task ClosDialog()
    {
        _dialog.SetVisible(false);

        return Task.CompletedTask;
    }

    private Task OnEnter(string value)
    {
        Console.WriteLine("Key Enter");
        return Task.CompletedTask;
    }
}

